{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Update your sign in information{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">

                {% call f.form_tag('user.update_credentials') %}
                <legend>Update your sign in information</legend>
                <small>Supply your current password to make any changes.</small>

                {% call f.form_group(form.current_password, css_class='mb-5', autofocus='autofocus') %}
                {% endcall %}

                {% call f.form_group(form.email) %}{% endcall %}

                {% call f.form_group(form.password, placeholder='New password (optional)') %}
                {% endcall %}

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('user.settings') }}" class="btn btn-secondary btn-block">
                            Nevermind
                        </a>
                    </div>
                </div>
                {% endcall %}
            </div>
        </div>
    </div>
</div>
{% endblock %}