{% import 'macros/flash.html' as flash with context %}
{% import 'macros/analytics.html' as analytics with context %}
{% import 'macros/meta_tags.html' as meta_tags %}
{% import 'macros/favicons.html' as favicons %}

<!DOCTYPE html>
<html>

<head>
    {{ meta_tags.render(csrf_token()) }}

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/fontawesome/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

    {{ favicons.render(self.title()) }}

    {{ analytics.google_ua() }}

</head>

<body>

    {% block header %}{% endblock %}

    <main class="container mb-5">
        {{ flash.render() }}
        <div class="mt-2">{% block heading %}{% endblock %}</div>
        {% block body %}{% endblock %}
    </main>

    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item text-muted">Snake Eyes &copy; 2020</li>
                {% block footer %}{% endblock %}
            </ul>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='scripts/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/popper.min.js') }}"></script>
</body>

</html>