{% extends 'layouts/base.html' %}

{% block header %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <a href="{{ url_for('page.home') }}">
            <img src="{{ url_for('static', filename='images/snake-eyes-large.jpg') }}"
                class="img-responsive center-block mb-5" width="178" height="176" title="Snake Eyes" alt="Snake Eyes" />
        </a>

    </div>
</div>
{% endblock %}

{% block footer %}
<li class="list-inline-item">
    <a href="{{ url_for('user.signup') }}">Sign up today</a>
</li>
<li class="list-inline-item">
    <a href="{{ url_for('contact.index') }}">Contact</a>
</li>
{% endblock %}